body{
  background-color: rgb(233, 199, 199); 
}

#loancal {
 width: 375px;
 height: 295px; 
 background-color: rgb(109, 50, 43);
 color:#fff;
 margin-left: 400px;
 margin-top: 150px;
 padding-left: 90px;
 padding-top: 20px;
}

#months {
  width: 175px;
  height: 20px;
}

#amount {
  width: 175px;
  height: 20px;
}

#interest_rate {
  margin-left: 2px;
  width: 175px;
  height: 20px;
}

h1{
  font-size: 40px;
}